.header {
    border-radius: 8px;
    background: rgba(16, 144, 216, 0.10);
}

.btn {
    border-radius: 8px;
    background: #1090D8;
    color: white;
}

.border {
    border-radius: 4px;
    background: #F1F1F1;
}

/* img{
    width: 100px;
    height: 100px;
} */